.ctaSection {
  width: 100%;
  margin-bottom: 80px;

  .button {
    @include main-text;
    border-radius: 15px;
    background: #000;
    color: $white;
    padding: 20px 35px 20px 35px;
    text-align: center;
  }

  .container {
    @include container;
    @include flex-row-between;

    .information {
      @include flex-col;
      justify-content: center;
      align-items: start;
      gap: 40px;

      .content {
        @include flex-col;
        justify-content: center;
        align-items: start;
        gap: 30px;

        width: 570px;

        .title {
          @include h2;
          line-height: 50px;
        }
        .description {
          @include main-text;
          line-height: 24px;

          width: 422px;
        }
      }
    }

    .image {
      position: relative;
      width: 570px;
      height: 381px;
      background-color: beige;
      overflow: hidden;
    }
  }
}
