.navBar {
  width: 100%;
  height: 65px;

  .container {
    @include flex-row-between;
    align-items: center;
    width: 1170px;
    margin: 0 auto;

    a {
      @include main-text;
    }

    .user {
      @include flex-row;
      justify-content: end;
      align-items: center;
      gap: 24px;
    }
  }
}
