.card {
  @include flex-col;
  gap: 20px;

  border: 1px solid $black-100;
  border-radius: 10px;
  padding: 30px 37px;
  width: 270px;
  height: 250px;
  overflow: hidden;

  .user {
    @include flex-row;
    justify-content: start;
    align-items: center;
    gap: 20px;

    .userIcon {
      position: relative;
      width: 50px;
      height: 50px;

      border-radius: 100%;

      background-color: bisque;
      overflow: hidden;
    }

    .userInfo {
      @include flex-col;
      gap: 15px;

      .raiting {
        @include flex-row;
      }

      .userName {
        font-family: $mainFontFamily;
        font-weight: 500;
        font-size: 16px;
        font-variant: small-caps;
        color: $black-100;
      }
    }
  }

  .description {
    @include main-text-second;
    line-height: 24px;
  }
}
